# https://editorconfig.org/

root = false

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Use 80 line-length for javascript
[*.{js,jsx,ts,tsx}]
max_line_length = 80

# Don't add a newline to minified JavaScript files
[**.min.js]
insert_final_newline = false
